.App {
  font-family: sans-serif;
  text-align: center;
}

.main-container {
  max-width: 550px;
  display: block;
  margin: 0 auto;
  border: solid grey 1px;
  padding: 20px;
  margin-top: 30px;
  border-radius: 8px;
  background: radial-gradient(
    253px at 12.6% 77.9%,
    rgb(221, 255, 214) 0.3%,
    rgb(214, 254, 254) 90.5%
  );
}

.description::first-letter {
  text-transform: uppercase;
}

.input-form {
  margin-right: 20px;
}

.current-data {
  line-height: 0.1;
  color: grey;
}

.Temperature {
  font-size: 48px;
}

.current-temperature {
  display: block;
  position: relative;
  margin-left: -10px;
}

.metrics {
  font-size: 13px;
  vertical-align: 25px;
}

.weather-forecast {
  margin-right: 15px;
}

.day-container {
  flex-wrap: wrap;
}

.min {
  opacity: 0.6;
}
